{
  "extends" : "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules":{
    "plugin/selector-bem-pattern": {
      "preset" : "bem"
    },
    "selector-class-pattern": "^[a-z][a-zA-Z0-9_]+$",
    "scss/at-mixin-pattern": "^[a-z][a-zA-Z0-9]+$"
  }
  

}